@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

html,body
    font-family: "Lato"
    margin: 0px
    h1, h2, h3
            font-family: "Courgette"
    h2
        padding: 20px 0px 10px 0px
        background-image: url("../img/decoration_line.png")
        background-repeat: no-repeat
        background-position-x: center
        background-position-y: bottom
        background-size: 40% 
        span
            color: $red
            font-size: xxx-large 
            text-transform: uppercase
    p
        font-size: small
    a
        color: white
    img
        width: 100%
        height: 100%
    .row
        margin: 0px
    button
        color: white
        background-color: $red
        font-size: x-small
        text-transform: uppercase
        border: none
        border-radius: 100px
        padding: 1% 2%
    #Dentelle
        height: 12px
        background-size: contain

header
    background: linear-gradient(rgba(#131111,0.8),rgba(#000,0.8)), url(../img/banner1.jpg)
    background-size: cover
    background-repeat: no-repeat

    nav
        padding: 5%
        .nav-item
            align-self: flex-end
        .nav-link
            width: 10vw
            padding: 15px 0px
            font-size: small
            color: white !important
            border-top: 1.5px solid rgba(#FFF, 0.5)
            border-bottom: 1.5px solid rgba(#FFF, 0.5)
            &:hover,&:active
                background-color: #c42d40
    #Carousel
        .carousel-indicators
            button
                width: 12px
                height: 12px
                border-radius: 50%
        .carousel-indicators .active 
            border: 3px solid white !important
            box-shadow: inset 0 0 0 3px rgba(#000, 0.6)
            position: relative   
    #Dentelle
        background-image: url("../img/bottom_decoration_img.png")   

#Main
    background-image: url("../img/main_bg.jpg")
    background-size: contain auto
    .container
        padding: 0px
        background-color: white
        border: 1px solid $verylightgrey
        .nav-pills
            .nav-link
                font-size: medium
                color: $darkgrey
                border-radius: 0px
                font-family: "Courgette"
                text-transform: capitalize
                background-color: transparent
                border-bottom: 2px solid $verylightgrey
                i
                    color: lightgrey
            .active
                border-right: 4px solid $red
                i
                    color: $red
        .tab-pane
            border-left: 2px solid $verylightgrey
            font-size: small
            .row
                .row
                    border-bottom: 2px dotted $verylightgrey
            img
                height: 100%
                width: 100%
                border: 3px solid $verylightgrey
                border-radius: 50%
            .priceticket
                color: $red
                background-color: $verylightgrey
                width: 50px

#Chef
    color: white
    background: linear-gradient(rgba(black,0.5), rgba(black, 0.5)), url("../img/team_background.jpg")
    img
        padding-bottom: 0%
        border-bottom: 1px solid rgba($verylightgrey, 0.3)

#Reservation
    background-image: url("../img/main_bg.jpg")
    background-size: contain auto
    .container
        padding: 0px
        background-color: white
        border: 1px solid $verylightgrey   
        .formbg
            width: 80%
            margin: 5% auto
            border-radius: 20px
            background-image: url("../img/book_table_bg.jpg")
            background-size: cover
            input, select
                margin: 8% 0%
                border-radius: 10px
        .card
            border: none
            img
                position: relative
                border-radius: 10px
                border: 5px solid $verylightgrey
                &+div
                    font-size: auto
                    position: absolute
                    color: white
                    width: 90%
                    background-color: $red
                    border-radius: 5px
                    top: 60%
                    left: 5%

#Testimonials
    color: white
    background: linear-gradient(rgba(black,0.5), rgba(black, 0.5)), url("../img/testimonials_background.jpg")
    filter: blur(100%)
    .container 
        .col-lg-2 img, .col-md-4 img,.col-4 img
            border: 3px solid $verylightgrey
            border-radius: 50%
        .col-lg-4, .col-md-8, .col-12
            h6
                color: $red
            .row
                border: 1px solid $verylightgrey
                padding: 2%
                border-radius: 10px

#Contact
    background-image: url("../img/main_bg.jpg")
    background-size: contain auto      
    .col-4, .col-8
        padding: 2%
        background-color: $red
        border-radius: 10px
        color: white
        .row:nth-of-type(2)
            border

footer
    color: white
    background-image: url("../img/footer_background.jpg")
    h5
        font-weight: bold
        text-transform: uppercase
    button
        padding: 2% 4%
        text-transform: capitalize
        border: 1px solid white
        margin: 0% 5% 5% 0%
    #Dentelle
        background-image: url("../img/footer_bottom_decoration_img.png")
  


@media screen and (min-width:768px) and (max-width:1023px)
    body
        h2
            align-self: flex-end
            padding: 5px 0px
            span
                font-size: x-large
    header
        .nav-item
            align-self: flex-start !important

    #Main
        .container
            .nav-pills
                .nav-link
                    font-size: small
            .tab-pane
                .priceticket
                    width: 30px
    #Testimonials
        .col-md-4
            margin-bottom: 10%
            padding: 2%


@media screen and (min-width:0px) and (max-width:767px)
    body
        h2
            align-self: flex-end
            padding: 5px 0px
            span
                font-size: x-large
        p
            font-size: x-small

    header
        .nav-item
            align-self: flex-start !important
    #Main
        .container
            .nav-pills
                .nav-link
                    font-size: x-small
            .tab-pane
                .priceticket
                    width: 30px

    #Reservation
        .card
            img
                &+div
                    margin-top: -15%
                    font-size: small !important
                    width: 90%
                    left: 5%
    #Testimonials
        .col-12:nth-of-type(2)
            margin-bottom: 20%

    