@import "./_fonts"
@import "./_icones"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

html,body
    font-family: "Nom écriture"
    margin: 0px
    h1
        font-family: "Ecriture"
    h2, h3
            font-family: "Courgette"
    h2
        padding: 20px 0px 10px 0px
        background-image: url("../img/decoration_line.png")
        background-repeat: no-repeat
        background-position-x: center
        background-position-y: bottom
        background-size: 40% 
        span
            color: $red
            font-size: xxx-large
    
            
    p
        font-size: small
    a
        color: white
    img
        width: 100%
        height: 100%
    .row
        margin: 0px
    button
        font-size: x-small
        text-transform: uppercase
        border-radius: 100px
        padding: 10px 20px

header
    background: linear-gradient(rgba(#131111,0.8),rgba(#000,0.8)), url(../img/banner1.jpg)
    background-size: 100% auto
    background-repeat: no-repeat
    height: 100vh
    nav
        .nav-item
            align-self: flex-end
            img
                height: 60px
                padding: 0px 30px
        .nav-link
            width: 10vw
            padding: 15px 0px
            font-size: x-small
            color: white !important
            border-top: 1.5px solid rgba(#FFF, 0.5)
            border-bottom: 1.5px solid rgba(#FFF, 0.5)
            &:hover,&:active
                background-color: #c42d40
    #Carousel
        height: 70vh !important
        .carousel-indicators
            button
                width: 12px
                height: 12px
                border-radius: 50%
        .carousel-indicators .active 
            border: 3px solid white !important
            box-shadow: inset 0 0 0 3px rgba(#000, 0.6)
            position: relative      
    #Dentelle
        height: 10px
        background-image: url("../img/bottom_decoration_img.png")
        background-size: contain

#Main
    background-image: url("../img/main_bg.jpg")
    background-size: contain auto
    .container
        padding: 0px
        background-color: white
        border: 1px solid $verylightgrey
        .nav-pills
            .nav-link
                font-size: medium
                color: $darkgrey
                border-radius: 0px
                font-family: "Courgette"
                text-transform: capitalize
                background-color: transparent
                border-bottom: 2px solid $verylightgrey
                i
                    color: lightgrey
            .active
                border-right: 4px solid $red
                i
                    color: $red
        .tab-pane
            border-left: 2px solid $verylightgrey
            font-size: small
            .row
                .row
                    border-bottom: 2px dotted $verylightgrey
            img
                height: 100%
                width: 100%
                border: 3px solid $verylightgrey
                border-radius: 50%
            .priceticket
                color: $red
                background-color: $verylightgrey
                width: 50px

#Chef
    color: white
    background: linear-gradient(rgba(black,0.5), rgba(black, 0.5)), url("../img/team_background.jpg")
    img
        padding-bottom: 0%
        border-bottom: 1px solid rgba($verylightgrey, 0.3)